.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Galaxy Field */
@media screen and (width<=280px) {
  .stickNavBarAdjustments {
    margin: 91px;
  }
}

/* Small mobiles like iphone SE*/
@media screen and (width>280px) and (width<=375px) {
  .stickNavBarAdjustments {
    margin: 91px;
  }
}

/* for mobiles */
@media screen and (width>376px) and (width<=420px) {
  .stickNavBarAdjustments {
    margin: 85px;
  }
}

/* for tablets */
@media screen and (width>420px) {
  .stickNavBarAdjustments {
    margin: 110px;
  }
}

/* for laptops */
@media screen and (width>820px) {
  .stickNavBarAdjustments {
    margin: 125px;
  }
}
