/* Galaxy Field */
@media screen and (width<=280px) {
  .logoAdjustment {
    height: 60px;
    width: 133.32px;
  }
  .fontAdjustment {
    font-size: 27px;
    color: rgb(247, 193, 68);
  }
}

/* Small mobiles like iphone SE*/
@media screen and (width>280px) and (width<=375px) {
  .logoAdjustment {
    height: 65px;
    width: 142.21px;
  }
  .fontAdjustment {
    font-size: 25px;
    color: rgb(247, 193, 68);
  }
}

/* for mobiles */
@media screen and (width>376px) and (width<=420px) {
  .logoAdjustment {
    height: 60px;
    width: 133.32px;
  }

  .fontAdjustment {
    font-size: 25px;
    color: rgb(247, 193, 68);
  }
}

/* for tablets */
@media screen and (width>420px) {
  .logoAdjustment {
    height: 85px;
    width: 188.887px;
  }
  .fontAdjustment {
    font-size: 27px;
    color: rgb(247, 193, 68);
  }
}

/* for laptops */
@media screen and (width>820px) {
  .logoAdjustment {
    height: 100px;
    width: 222.2px;
    margin-right: 50px;
  }

  .fontAdjustment {
    font-size: 27px;
    color: rgb(247, 193, 68);
  }
}
